<div class="header">
  <div class="header-buttons">
    <p-button label="Homepage" routerLink="/homepage"></p-button>
    <p-button label="Admin Page" routerLink="/admin-page"></p-button>
    <p-button label="Profile" routerLink="/profile"></p-button>
  </div>
  <div class="card flex justify-content-center">
    <p-dropdown [options]="this.selectedUserService.usersList" [(ngModel)]="this.activeUser" optionLabel="name"
      (onChange)="onUserChange($event.value)" [showClear]="true" placeholder="Select a user"></p-dropdown>
  </div>
</div>
<router-outlet></router-outlet>
